@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: 90 114 245;
    --color-accent: 249 115 22;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
